* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #272e35;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
}

#app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

#container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 20px 40px;
  display: inline-block;
  background-color: transparent;
  transition: all 200ms linear;
}
.btn-primary {
  background-color: #579aff;
  color: #fff;
}
.btn-primary:hover {
  opacity: 0.7;
}
.btn-outline-gray {
  color: #868d93;
  border: 1px solid;
}
.btn-outline-gray:hover {
  background-color: #868d93;
  color: #fff;
}
.btn + .btn {
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 70px;
}
.header__body ul {
  display: flex;
}
.header__body ul li + li {
  margin-left: 70px;
}
.header__body ul li a {
  display: block;
  transition: color 200ms linear;
}
.header__body ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #579aff;
  transition: width 200ms linear;
}
.header__body ul li a:hover {
  color: #579aff;
}
.header__body ul li a:hover::after {
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner__content {
  width: 35%;
}
.banner__content h3 {
  font-size: 5rem;
  font-weight: 600;
}
.banner__content p {
  margin: 3rem 0;
}
.banner__img {
  width: 65%;
  transform: translateX(50px);
}

.block {
  text-align: center;
  margin: 140px 0 85px;
}
.block__heading {
  font-size: 5rem;
}
.block__caption {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0 20px;
  font-weight: 600;
}
.block .block__caption::after,
.block .block__caption::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #579aff;
  height: 2px;
  width: 40px;
  top: 50%;
}
.block .block__caption::before {
  left: 0;
  transform: translateX(-100%);
}
.block .block__caption::after {
  right: 0;
  transform: translateX(100%);
}

/*# sourceMappingURL=index.css.map */
