section.banner
    .banner__content 
        h3 Make a big impact with exciting videos. 
        p It's simple to discover, engage, and expand your audience with video marketing software. 
        div 
            a(href="#", class="btn btn-primary") Get Started
            a(href="#", class="btn btn-outline-gray") How it work?
    .banner__img 
        img(src="./images/img1.png", alt="")
