.client 
    +block('what people say', 'Our honorable Clients')

    +clientItem('https://www.thebalance.com/thmb/qK7QTaz5MbF9fY4jkao_8CM46SE=/1413x1413/smart/filters:no_upscale()/business-people-shaking-hands-1189302240-a5b90ad1cfc34e02ba0332d2ad0829a4.jpg', 'Edwin Reyes', 'Businessman', 'I have loved that it is giving me the opportunity to learn at my own pace and it is also super cost effective!')

    +clientItem('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzhKSgcxZW1WklcCNLYqFLRPWUx50uClw5Dg&usqp=CAU', 'Charlie Burns', 'Marketing Head', 'I have loved that it is giving me the opportunity to learn at my own pace and it is also super cost effective!')

    +clientItem('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlGiSSNqv9djG60LE9JxPPSQtLR_x1KWobhA&usqp=CAU', 'Businessman', 'I have loved that it is giving me the opportunity to learn at my own pace and it is also super cost effective!')