header.header 
    .header__logo 
        a(href="#")
            img(src="./images/logo.png", alt="") 
    .header__body 
        ul
            li
                a(href="#") Home
            li
                a(href="#") Products
            li
                a(href="#") Pricing
            li
                a(href="#") About
    .header__actions 
        a(href="#", class="btn") Login 
        a(href="#", class="btn btn-primary") Sign up 