mixin block(caption, heading) 
    .block
        span.block__caption= caption
        h3.block__heading= heading

mixin workItem(heading, desc, linkText) 
    .work-item
        h4= heading
        span= desc
        a(href="#", class="btn btn-outline-gray") linkText 

mixin clientItem(avatar, name, position, desc)
    .col    
        img(src= avatar, alt= name, class="client-avatar")
        h4.client-name= name
        span.client-position= position
        p.client-desc= desc
        .client-rate