.work 
    +block('Walk - Through', 'How does Zulu works ?')

    +workItem('Offer the best viewing experience', 'All the video generators on the Internet tend to repeat predefined chunks as necessary ', 'Learn more')

    +workItem('Develop an audience and a brain', 'It is a long established fact that a reader will be distracted by the readable content of the page ', 'Learn more')

    +workItem('Turn your videos into a marketing goldmine', 'Presented and promoted using our own product, watch or listen to all of our original video series ', 'Learn more')