include ./views/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Fonts
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap' rel='stylesheet')
        //- Icon
        link(rel='apple-touch-icon' sizes='180x180' href='./images/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon-16x16.png')
        link(rel='manifest' href='./site.webmanifest')
        //- styles
        link(rel="stylesheet", href="./css/index.css")
        title Zulu LandingPage
    body 
        #app 
            #container
                include ./views/header
                include ./views/banner
                include ./views/work
                include ./views/client