.banner {
	display: flex;
	justify-content: space-between;

	&__content {
		width: 35%;
	}

	&__content h3 {
		font-size: 5rem;
		font-weight: 600;
	}

	&__content p {
		margin: 3rem 0;
	}

	&__img {
		width: 65%;
		transform: translateX(50px);
	}
}
