* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	color: $text-color;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

img {
	max-width: 100%;
	object-fit: cover;
	display: inline-block;
	vertical-align: top;
}

#app {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

#container {
	max-width: 1200px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
