.block {
	text-align: center;
	margin: 140px 0 85px;

	&__heading {
		font-size: 5rem;
	}

	&__caption {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding: 0 20px;
		font-weight: 600;
	}

	.block__caption::after,
	.block__caption::before {
		content: '';
		position: absolute;
		display: inline-block;
		background-color: $primary-color;
		height: 2px;
		width: 40px;
		top: 50%;
	}

	.block__caption::before {
		left: 0;
		transform: translateX(-100%);
	}

	.block__caption::after {
		right: 0;
		transform: translateX(100%);
	}
}
