.btn {
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 6px;
	padding: 20px 40px;
	display: inline-block;
	background-color: transparent;
	transition: all 200ms linear;

	&-primary {
		background-color: $primary-color;
		color: $white;
	}

	&-primary:hover {
		opacity: 0.7;
	}

	&-outline-gray {
		color: $secondary-color;
		border: 1px solid;
	}

	&-outline-gray:hover {
		background-color: $secondary-color;
		color: $white;
	}

	& + & {
		margin-left: 10px;
	}
}
