.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 45px 0 70px;

	&__body ul {
		display: flex;
	}

	&__body ul li + li {
		margin-left: 70px;
	}

	&__body ul li a {
		display: block;
		transition: color 200ms linear;
	}

	&__body ul li a::after {
		content: '';
		display: block;
		height: 2px;
		width: 0;
		background-color: $primary-color;
		transition: width 200ms linear;
	}

	&__body ul li a:hover {
		color: $primary-color;
	}

	&__body ul li a:hover::after {
		width: 100%;
	}
}
